<div id="footer">
			<div class="ruler-line">&nbsp</div>
			<div class="footer-container">
				<div class="footer-section">
					<h2>CHĂM SÓC KHÁCH HÀNG</h2>
					<ul  style="color:black">
						<li><a href="#">Trung Tâm Trợ Giúp</a></li>
						<li><a href="#">Hướng Dẫn Mua Hàng</a></li>
						<li><a href="#">Thanh Toán</a></li>
						<li><a href="#">Vận Chuyển</a></li>
						<li><a href="#">Trả Hàng & Hoàn Tiền</a></li>
						<li><a href="#">Chăm Sóc Khách Hàng</a></li>
						<li><a href="#">Chính Sách Bảo Hành</a></li>
					</ul>
				</div>
				<div class="footer-section">
					<h2>VỀ READ LOVE</h2>
					<ul>
						<li><a href="#">Giới Thiệu Về Read Love Việt Nam</a></li>
						<li><a href="#">Tuyển Dụng</a></li>
						<li><a href="#">Chính sách bảo mật</a></li>
						<li><a href="#">Chính hãng</a></li>
						<li><a href="#">Chương trình tiếp thị liên kết</a></li>
						<li><a href="#">Kênh quảng bá</a></li>
						<li><a href="#">Liên hệ với truyền thông</a></li>
					</ul>
				</div>

				<div class="footer-section">
					<h2>THANH TOÁN</h2>
					<ul>
						<li><a href="#">Visa</a></li>
						<li><a href="#">MasterCard</a></li>
						<li><a href="#">JCB</a></li>
						<li><a href="#">CODE</a></li>
						<li><a href="#">Trả Góp</a></li>
					</ul>
					<h2>ĐƠN VỊ VẬN CHUYỂN</h2>
					<ul>
						<li><a href="#">Giao Hàng Nhanh</a></li>
						<li><a href="#">Giao hàng tiết kiệm</a></li>
						<li><a href="#">Viettel Post</a></li>
						<li><a href="#">Ninja Van</a></li>
					</ul>
				</div>

				<div class="footer-section">
					<h2>THEO DÕI CHÚNG TÔI TRÊN</h2>
					<ul>
						<li><a href="#"><i class="fab fa-facebook-square"></i> Facebook</a></li>
						<li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
						<li><a href="#"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
					</ul>
				</div>
			</div>
			<div class="ruler-line">&nbsp</div>
			<div id="footer-copyright">© 2021 Read Love. Tất cả các quyền được bảo lưu.</div>
</div>