.chosen{
  background-color: var(--extra_color)!important;
}
.display-block{
  display: block !important;
}
.display-none{
  display: none !important;
}
body{
	font-size: 20px;
}
#content{
  background-color: #f5f5f5;
}
.mark-section{
	padding: 24px 0;
	text-align: center;
}
.mark-section i{
	color: var(--highlight_color);
}
#content .empty-cart{
  height:100vh;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#content .go-home-button{
  text-decoration: none;
  display: block;
  padding: 16px 32px;
  background-color: var(--primary_color);
  color: white;
  border-radius: 8px;
  margin: 16px 0;
}
#content .go-home-button:hover{
  background-color: var(--secondary_color);
}
#content .cart-container {
  padding: 16px 64px;
  
}

#content .sub-nav {
  font-size: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 8px;
  margin: 16px 0;
  border: 2px solid var(--primary_color);
  background-color: white;
}
#content .content-title {
  font-size: 32px;
}
#content .sub-nav > * {
  display: flex;
  justify-content: center;
  align-items: center;
}
#content .sub-nav-title {
  width: 50%;
}
#content .sub-nav-price {
  width: 33.33333%;
}
#content .sub-nav-action {
  width: 16.666666%;
}
#content .sub-nav-amount {
  width: 16.66666%;
}
#content .book-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 8px;
  background-color: white;
  border-radius: 8px;
  margin: 16px 0;
}
#content .book-item > * {
  display: flex;
  justify-content: center;
  align-items: center;
}
#content .book-image {
  width: 16.666666%;
}
#content .book-image-item {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
#content .book-properties {
  width: 33.33333%;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  text-align: justify;
  margin: -16px 0;
  padding: 0 16px;
}

#content .book-title,
#content .book-author {
  margin: 16px 0;
}

#content .book-price {
  width: 33.33333%;
}

#content .book-action {
  width: 16.66666%;
}
#content .book-delete-button{
  text-decoration: none;
  color: black;
}
#content .book-delete-button:hover{
  color:var(--extra_color);
}
#content .book-update {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}
#content .book-update > * {
  font-size: 16px;
  padding: 8px 16px;
  background-color: var(--primary_color);
  border: 1px solid var(--extra_color);
  border-radius: 8px;
  margin: 0 4px;
}
#content .book-number-quantity {
  background-color: white;
  font-size: 16px;
  color: black;
  padding: 6px 20px;
  text-align: center;
}
#content .book-plus:hover,
#content .book-subtract:hover {
  background-color: var(--extra_color);
}
#content .cart-control{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 8px;
}
#content .cart-order{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 8px;
}
#content .cart-total-price{
  padding: 16px 32px;
}
#content .cart-order-button{
  padding: 16px 32px;
  background-color: var(--primary_color);
  color: white;
  border-radius: 8px;
}
#content .cart-order-button:hover{
  background-color: var(--secondary_color);
}
#content .order-container{
  padding: 16px 64px;
}
#content .choose-address{
  
  
}
#content .choose-address-title{
  padding: 16px 32px;
  font-size: 28px;
  background-color: var(-primary_color);
  margin: 16px 0;
}
#content .user-address{
  padding: 16px 60px;
  background-color: white;
  border-bottom: 2px solid var(--primary_color);
  cursor: pointer;
}
#content .user-address:hover{
  background-color: var(--extra_color);
}
#content .address-add{
  background-color: white;
  padding: 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#content .address-add-button{
  text-decoration: none;
  display: block;
  padding: 16px 32px;
  background-color: var(--primary_color);
  color: white;
  border-radius: 8px;
}
#content .address-add-button:hover{
  background-color: var(--secondary_color);
}
#content .order-control{
  margin: 16px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 8px;
}
#content .order-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 8px;
  
}
#content .order-total-price{
  padding: 16px 32px;
}
#content .order-ship-fee{
  padding: 16px 32px;
}
#content .order-button{
  font-size: 16px;
  margin-top: 16px;
  padding: 16px 32px;
  background-color: var(--primary_color);
  color: white;
  border-radius: 8px;
}
#content .order-button:hover{
  
  background-color: var(--secondary_color);
}
#content .choose-payment-method{

}
#content .payment-title{
  background-color: var(--primary_color);
  padding: 16px 32px;
  font-size: 28px;
  color: white;
  margin: 16px 0;
}
#content .payment-item{
  padding: 16px 60px;
  background-color: white;
  border-bottom: 2px solid var(--primary_color);
  cursor: pointer;
}
.payment-method{

}
#content .payment-item:hover{
  background-color: var(--extra_color);
}